PruebasServicio/Connected Services/WS_Aerolinea/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55828/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55828/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_WS_Pasajero_InputMessage">
    <wsdl:part name="parameters" element="tns:WS_Pasajero" />
  </wsdl:message>
  <wsdl:message name="IService_WS_Pasajero_OutputMessage">
    <wsdl:part name="parameters" element="tns:WS_PasajeroResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WS_Viaje_InputMessage">
    <wsdl:part name="parameters" element="tns:WS_Viaje" />
  </wsdl:message>
  <wsdl:message name="IService_WS_Viaje_OutputMessage">
    <wsdl:part name="parameters" element="tns:WS_ViajeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WS_ServicioAdicional_InputMessage">
    <wsdl:part name="parameters" element="tns:WS_ServicioAdicional" />
  </wsdl:message>
  <wsdl:message name="IService_WS_ServicioAdicional_OutputMessage">
    <wsdl:part name="parameters" element="tns:WS_ServicioAdicionalResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WS_Maleta_InputMessage">
    <wsdl:part name="parameters" element="tns:WS_Maleta" />
  </wsdl:message>
  <wsdl:message name="IService_WS_Maleta_OutputMessage">
    <wsdl:part name="parameters" element="tns:WS_MaletaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="WS_Pasajero">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WS_Pasajero" message="tns:IService_WS_Pasajero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WS_PasajeroResponse" message="tns:IService_WS_Pasajero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WS_Viaje">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WS_Viaje" message="tns:IService_WS_Viaje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WS_ViajeResponse" message="tns:IService_WS_Viaje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WS_ServicioAdicional">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WS_ServicioAdicional" message="tns:IService_WS_ServicioAdicional_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WS_ServicioAdicionalResponse" message="tns:IService_WS_ServicioAdicional_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WS_Maleta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WS_Maleta" message="tns:IService_WS_Maleta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WS_MaletaResponse" message="tns:IService_WS_Maleta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS_Pasajero">
      <soap:operation soapAction="http://tempuri.org/IService/WS_Pasajero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_Viaje">
      <soap:operation soapAction="http://tempuri.org/IService/WS_Viaje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_ServicioAdicional">
      <soap:operation soapAction="http://tempuri.org/IService/WS_ServicioAdicional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_Maleta">
      <soap:operation soapAction="http://tempuri.org/IService/WS_Maleta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:55828/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>